/* ===========================
   Layout
=========================== */

.layout{
    display:flex;
    min-height:100vh;
    background:#f4f7fb;
}

/* ===========================
   Main Content
=========================== */

.main-content{

    flex:1;

    min-width:0;

    display:flex;
    flex-direction:column;

    background:#f4f7fb;
}

/* page body */

.main-content > *:not(.navbar){

    padding:30px 35px;

    width:100%;

    box-sizing:border-box;

}

/* ===========================
   Responsive
=========================== */

@media (max-width:768px){

.main-content > *:not(.navbar){

    padding:20px;

}

}