.navbar{

    height:70px;

    background:#fff;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 35px;

    border-bottom:1px solid #e5e7eb;

    box-sizing:border-box;

    flex-shrink:0;

}

.navbar-title h2{

    margin:0;

    font-size:30px;

    font-weight:700;

    color:#111827;

}

.navbar-right{

    font-size:15px;

    color:#6b7280;

}